body
{
	background-color: black;
	color: white;

}
h1
{
	text-align: center;
}
h4
{
	text-align: center;
}
.div-with-bg
{
    background-image: url("../content/bkg1.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
}
p 
{
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}
.container
{
	text-align:center;
	margin:auto;
}
#div-fill
{
	height: 700px;
	width: 100%;	
    
}
#continue-button
{
	margin:auto;
  	display:block;
}
ul
{
	list-style-type: none;
	background-color: black;
}
li
{
	color: white;
	text-align: center;
}
button
{
	color: black;
}